body {
    background-color: #D5E1EF;
    font-size: .938rem;

}

.text-preset-1 {
    color: #1F314F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: #68778D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.qr-code-container {
    background-color: white;
    filter: drop-shadow(0px 25px 25px #00000010);
    border-radius: 1.25rem;
    padding: 1rem 1rem 2.5rem 1rem;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.qr-code-image {    
    width: 100%;
    height: auto;
    border-radius: 1.25rem;
}
