body {
    height: 100vh;
    position: relative;
    background-color: #D5E1EF;
    font-size: .938rem;
}

.text-preset-1 {
    color: #1F314F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 120%;
}

p {
    color: #68778D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: .2px;
    line-height: 140%;
}

.qr-code-container {
    background-color: white;
    width: 90%;
    max-width: 500px;
    filter: drop-shadow(0px 25px 25px #00000010);
    border-radius: 1.25rem;
    padding: 1rem 1rem 2.5rem 1rem;
    text-align: center;
    /* display: grid;
    align-content: center; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.qr-code-image {    
    width: 100%;
    border-radius: 1.25rem;
}
